@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

html {
    width: 100%;
    height: 100%;    
}
body {
	font-family: 'Titillium Web', sans-serif;	font-size: 14px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
	background: linear-gradient(-45deg, rgb(1,233,245), rgb(24,181,216), rgb(64,123,193), rgb(108,75,166), rgb(132,13,129));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

// Firefox gradient button fix

button{
	width:100px;
	padding:1%;
	color:white;
	font-weight:bold;
	background: linear-gradient(-45deg, rgba(183,222,237,1), rgba(113,206,239,1),rgba(33,180,226,1), rgba(183,222,237,1));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease-in-out infinite;
	-moz-animation: Gradient 15s ease-in-out infinite;
	animation: Gradient 15s ease-in-out infinite;
	border-radius:5px;
	border: 1px solid black;
	&:focus{
		outline: 0;
		color:black;
	}
	&:active{background:black;}
}

li{
	margin-top:1em;
	font-size:12px;
	max-width:360px;
}
a{
	color:white;
	text-decoration:none;
}
ul{
	position:relative;
	right:27px;
}
.location { 
	font-size:12px; 
}
.dates{
	font-size:10px;
}

#container { 	
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */
  line-height: 1.1;  
}
.resumeBox {
  position:relative;
  border-radius:15px;
  border: 1px solid black;
  width:              600px;
  height:             600px;
  max-width:90%;
  background-color:   rgba(0, 0, 0,0.5);
  margin-top: 300px;
  & .name , .contactInfo, h1,h2,.section,.section p,.dates,button,.position{
  	margin: 2%;
  }

}

.position{
	 border-bottom: solid 1px white;
     display: inline;
   	 font-weight:bold;
}

.name{
	width:100%;
	margin:0;
	text-align:center;
}
.address{
	padding-left:2%;
	font-size:12px;
}
.buttons{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactInfo{
	text-align:center;
}
.github{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:10px;
}
.experience{
	display:block;
}
.expSection,.skillSection,{
	opacity:0;
	display:block;
	text-align:center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.badge{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.expBox{
	display:block;
	margin: 0 auto;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.skillHeader{
	opacity:0;
	position:relative;
	bottom:1.6em;
	display:block;
	text-align:center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
    }
.qualHeader{
	opacity:0;
	position:relative;
	bottom:2.6em;
	display:block;
	text-align:center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.badge{
	opacity:0;
	position:relative;
	margin: 0 auto;
	display:block;
	bottom:200px;
	width:350px;
}
.skillBox{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    position:relative;
    left:6%;
    opacity:0;
    -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transition-delay: .5s;
}

.skill1{
	position:relative;
	bottom:10px;
}
.skill2{
	position:relative;
	left:10%;
}
#experienceSection,#brio
{
    position: absolute;
    bottom: 120px;
	margin-left:10%;
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
}
#fourfront{
	margin-left:10%;
	opacity:0;
	position:absolute;
	bottom:170px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.tigerwoods{
	position: absolute;
	margin: auto;
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0;  
	bottom:300px;
	width:250px;
	border-radius:130px;
	border: 4px solid black;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media screen and (max-width: 450px) {
    .resumeBox {
  		height:550px;
  		margin-bottom:30px;
}		
    .position {
       border-bottom: 0px solid white;
    }
    .skillBox{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    position:relative;
}
}